table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#id {
    background-color: red;
}

.class {
  background-color: aqua  ; 
  margin-top: 10px;
}

h4 {
  background-color: blue;
}

* {
  background-color: antiquewhite;
}

h3 ,h5,h6 {
  background-color: cadetblue;
}

h1 {
  background-color: brown ;
}
.static {
  position: static;
  border: 2px solid red;
}
    