.static {
  position: static;
  border: 2px solid red;
  top: 20px;
  left: 20px ;
}

.fixed {
  position: fixed ;
  border: 2px solid #00ff91;
  top: 100px;
  left: 200px ;
  width:80%
}

.relative {
  position: relative;
  border: 2px solid #1e00ff;
  top: 50px;
  left: 50px ;
  width:80%
}

.absolute {
  position: relative;
  border: 2px solid #1e00ff;
  top: 400px;
  left: 400px ;
  width:50%
}

.outer-container {
  position: relative;
  border: 2px solid rgb(179, 38, 38);
  width :90%;
  height: 200px;
  margin:10px;
  top:50px;
}

.inner-container {
  position: absolute;
  border: 3px solid black;
  top:50px;
  bottom:50px;
  /* left:50px; */
  right:50px;
}